<div class="row">
  <div class="col-12 col-md-2 p-3 p-md-5 text-center"></div>
  <div class="col-12 col-md-8 p-3 p-md-3 p-md-5">
    <div class="shadow rounde p-md-3 p-md-5">
  <div *ngIf="post$ | async as post; else loading">
  <div class="post">
    <div class="header">
      <h1><a href="/" class="text-danger">{{ post.title }}</a></h1>
    </div>

    <div class="info">
      <strong>{{ post.author }}</strong>
      <small>{{ post.date | date: 'medium':null:'id' }}</small>
    </div>

    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>
  </div>
</div>
</div>
</div>
<ng-template #loading>
  <p class="text-center">Load A Content...</p>
</ng-template>
</div>