<div class="row">
   <div class="col-12 col-md-12 p-3 p-md-5">
    <div class="p-3 p-md-5 shadow rounded">
<form [formGroup]="form" (ngSubmit)="submit()">
  <br/>
  <h1>New Post</h1>

    <input class="rounded" id="title" placeholder="title" type="text" formControlName="title" />
<br/>
<input id="author" placeholder="Description" type="text" formControlName="author" />
  
<br/>    
    <quill-editor formControlName="text"></quill-editor>
    <br/>



  <button
    type="submit"
    class="btn float-right btn-lg btn-danger"
    [disabled]="form.invalid"
  >
    Publish Now
  </button>
  <br/><br/>
</form>
</div></div></div>