<div class="col-12 text-center">
  <h1><a routerLink="/" class="text-danger">
    <img class="img-fluid" alt="angular blog cms"
    src="../assets/px-blog.png"/>
    <br/>
    <img class="img-fluid" alt="angular blog cms"
    src="../assets/phoneixs.png"/>
    <br/><strong>Angular Blog</strong></a></h1>
</div>
<div class="container-fluid">
<router-outlet></router-outlet>
</div>
<div class="col-12 text-center">powered by <a href="https://phoneixsangular.web.app" class="text-danger" target="blank">phoneixs angular</a></div>